.container {
  padding: 2rem 0;
}

.link {
  display: block;
  color: var(--foreground);
  text-transform: uppercase;

  &:hover,
  &:focus {
    color: var(--highlight);
  }
}

.secondaryContent {
  max-height: 0;
  transition: max-height 0.3s ease-out;
  overflow: hidden;
}

.secondaryContentVisible {
  max-height: 30px;
}
