.heading {
  font-family: var(--font-display);
  text-transform: uppercase;
  font-size: 1.4rem;
  padding: 0 10%;
  background:
    linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 10%,
      var(--background) 10% 90%,
      rgba(0, 0, 0, 0) 90%
    ),
    linear-gradient(
      to bottom,
      var(--background) 33%,
      var(--foreground) 33% 66%,
      var(--background) 66%
    );
  margin-bottom: 3rem;
}
