.container {
  display: block;
  background-color: var(--foreground);
  padding: 1.5rem;
  text-align: left;

  &:hover,
  &:focus {
    outline: 5px solid var(--highlight);
    text-decoration: none;
  }
}

.heading {
  color: var(--background);
  font-size: 1.2rem;
  font-weight: 800;
  margin-bottom: 0.5rem;
}

.description {
  color: var(--background);
}
