.container {
  display: block;
  background-color: var(--btn-background);
  padding: 1.5rem;
  text-align: left;
  color: var(--btn-text);
  border: 2px solid var(--btn-text);

  &:hover,
  &:focus {
    box-shadow: var(--btn-highlight-shadow);
    text-decoration: none;
  }
}

.heading {
  color: inherit;
  font-size: 1.2rem;
  font-weight: 800;
  margin-bottom: 0.5rem;
}

.description {
  color: inherit;
}
