.list {
  display: flex;
  list-style-type: none;
}

.item {
  margin-right: 0.5rem;

  &:last-child {
    margin-right: 0;
  }
}

.name {
  vertical-align: top;
  line-height: 1;
  margin-left: 0.25rem;
}
