.bitd {
  /* SCOUNDRELS */
  &.scoundrel {
    .column:nth-child(1) {
      width: 40%;
      min-width: 350px;
    }

    .column:nth-child(2) {
      min-width: 420px;
      width: 40%;
    }

    .column:nth-child(3) {
      min-width: 250px;
      width: 20%;
    }

    .multiTracker.coin {
      .stash {
        max-width: 250px;
      }
    }
  }

  /* CREWS */
  &.crew {
    .column:nth-child(1) {
      width: 60%;
      min-width: 350px;
    }

    .column:nth-child(2) {
      min-width: 420px;
      width: 40%;
    }

    .multiTracker.repTurf {
      position: relative;

      .rep {
        padding-top: 1rem;
      }

      .turf {
        position: absolute;
        top: 2rem;
        left: 101px;
      }

      .turf-label {
        position: relative;
        top: 36px;
        text-align: right;
      }
    }

    .multiTracker.coin {
      .vault {
        .tracker-toggle:nth-child(4) {
          padding-right: 0.3rem;
          border-right: 2px solid var(--foreground);
        }
      }
    }
  }
}
