.container {
  position: relative;
  padding-bottom: 1rem;
}

.input {
  background: none;
  border: none;
  border-bottom: 1px solid var(--foreground);
}

.label {
  position: absolute;
  left: 0;
  bottom: 0;
}
