.container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto 5rem;
  padding: 2rem 1rem 0;
  text-align: center;
}

.headingBlock {
  margin-bottom: 50px;
}

.heading {
  /* colour changing svg as per https://stackoverflow.com/a/43916743 */
  background-color: var(--foreground);
  -webkit-mask: url(/logo.svg) no-repeat center;
  mask: url(/logo.svg) no-repeat center;
  -webkit-mask-size: contain;
  mask-size: contain;
  aspect-ratio: 500 / 329;
  margin-bottom: 10px;
}

.subheading {
  font-family: var(--font-text);
  font-weight: 700;
  font-size: 20px;
}

.footer {
  margin-top: 8rem;
  border-top: 1px solid var(--midground);
  padding-top: 2rem;
  text-align: left;
}
