.container {
  display: block;
  cursor: pointer;
  /* increase the clickable area of the button */
  /* without changing its positioning respective to all else */
  padding: 0.15rem;
  margin: -0.15rem;
  box-sizing: content-box;
  position: relative;

  &:has(> .control:focus-visible) {
    outline: 3px solid var(--highlight);
  }
}

.control {
  position: absolute;
  z-index: 1;
  cursor: pointer;
  opacity: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.svg {
  display: block;
}

/* styles for CSV paths, hence stroke / width */
.default {
  stroke: var(--foreground);
  fill: var(--background);
  stroke-width: 2px;
}

.filled {
  stroke: var(--foreground);
  fill: var(--foreground);
}

.highlighted {
  fill: var(--highlight);
  stroke: var(--highlight);
}

/*
 * this toggle will be rendered against a solid
 * var(--foreground) colour
 */
.inverted {
  &.default {
    stroke: var(--background);
  }

  &.filled {
    stroke: var(--background);
  }

  &.highlighted {
    fill: var(--highlight);
    stroke: var(--highlight);
  }
}
