.container {
  border: none;
  background: none;
  display: block;
  cursor: pointer;
  /* increase the clickable area of the button */
  /* without changing its positioning respective to all else */
  padding: 0.15rem;
  margin: -0.15rem;
  box-sizing: content-box;
}

/* styles for CSV paths, hence stroke / width */
.default {
  stroke: var(--foreground);
  fill: var(--background);
  stroke-width: 2px;
}

.filled {
  stroke: var(--foreground);
  fill: var(--foreground);
}

.highlighted {
  fill: var(--highlight);
  stroke: var(--highlight);
}

/*
 * this toggle will be rendered against a solid
 * var(--foreground) colour
 */
.inverted {
  &.default {
    stroke: var(--background);
  }

  &.filled {
    stroke: var(--background);
  }

  &.highlighted {
    fill: var(--highlight);
    stroke: var(--highlight);
  }
}
