.bump {
  /* GENERAL */
  --font-display: var(--font-saira-extra-condensed);

  .toggle.triangle {
    rotate: 90deg;
  }

  /* HUNTERS */
  &.hunter {
    .ratings {
      .attribute-group-container {
        display: flex;
        flex-direction: column;
      }

      .xp {
        position: relative;
        right: 0;
        top: 0;
        order: 1;
        display: flex;
        margin-top: 0.5rem;

        .tracker-container {
          margin-right: 0.5rem;
        }
      }

      .description {
        order: 2;
      }
    }

    .conditions {
      .item-list {
        margin-bottom: 0.5rem;
      }

      .group {
        border-bottom: 1px solid var(--foreground);
        padding-bottom: 1rem;

        &:last-child {
          border-bottom: none;
        }
      }

      .group-wounded-name {
        margin-top: 1rem;
        text-transform: unset;
      }
    }
  }
}
