.container {
  flex-grow: 1;
  position: relative;
}

.title {
  background-color: var(--background);
  position: absolute;
  top: -0.75rem;
  left: 0.5rem;
}

.xp {
  position: absolute;
  right: 0.5rem;
  top: -0.75rem;
}

.ratings {
  border: 1px solid var(--foreground);
  border-radius: 5px;
  padding: 2rem 0.5rem 0.5rem;
  list-style-type: none;
}

.rating {
  display: flex;
  margin-bottom: 1rem;
}

.actionName {
  flex-grow: 1;
  margin-left: 1rem;
}
