.container {
  overflow: hidden;
}

.list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: flex-end;
  /*
   * each item will end with an em dash
   * this will make sure that the last one on each row
   * isn't showing
   */
  margin-right: -1rem;
}

.item {
  white-space: nowrap;
  padding-right: 1rem;
  position: relative;

  &:after {
    content: '—';
    position: absolute;
    right: -0.1rem;
  }
}
