.button {
  background-color: var(--btn-background);
  border: 2px solid var(--btn-text);
  color: var(--btn-text);
  font-size: 1.2rem;
  line-height: 1;
  padding: 0.5rem 0.5rem;
  cursor: pointer;
  border-radius: 3px;

  &:hover,
  &:focus {
    box-shadow: var(--btn-highlight-shadow);
  }
}
