.default {
  border-radius: 50%;
  border: 3px solid var(--foreground);
  background-color: var(--background);
}

.filled {
  background-color: var(--foreground);
}

.highlighted {
  background-color: var(--highlight);
}
