.default {
  border-radius: 50%;
  border: 2px solid var(--foreground);
  background-color: var(--background);
  display: block;
}

.filled {
  background-color: var(--foreground);
}

.highlighted {
  background-color: var(--highlight);
}
