.container {
  border: none;
}

/* styles for CSV paths, hence stroke / width */
.default {
  stroke: var(--foreground);
  stroke-width: 2px;
}

.filled {
  fill: var(--highlight);
}

.highlighted {
  fill: var(--highlight);
}
