.default {
  background-color: var(--background);
  border: 1px solid var(--foreground);
  display: block;
}

.filled {
  background-color: var(--foreground);
}

.highlighted {
  background-color: var(--highlight);
}
