/* styles for CSV paths, hence stroke / width */
.default {
  stroke: var(--foreground);
  fill: var(--background);
  stroke-width: 1px;
  cursor: pointer;
}

.filled {
  fill: var(--foreground);
  stroke: var(--foreground);
}

.highlighted {
  fill: var(--highlight);
  stroke: var(--highlight);
}

.circle {
  stroke: var(--foreground);
  pointer-events: none;
}
