.container {
  display: flex;
  gap: 0.3rem;
}

.wrap {
  flex-wrap: wrap;
}

.linked {
  .toggle:not(:last-child) {
    position: relative;

    &:after {
      content: ' ';
      position: absolute;
      width: 5px;
      height: 1px;
      top: 50%;
      right: -5px;
      background-color: var(--foreground);
    }
  }
}
