.container {
  display: flex;
  gap: 0.3rem;
  padding: 0.3rem;
  margin: -0.3rem;
  overflow: clip;
  position: relative;
  border: none;
  align-items: center;

  &:has(.toggleZero:focus-visible) {
    outline: 3px solid var(--highlight);
  }
}

.legend,
.toggleZeroContainer {
  position: absolute;
  top: -100%;
}
