/* styles for CSV paths, hence stroke / width */
.default {
  stroke: var(--foreground);
  fill: var(--background);
  stroke-width: 1px;
  cursor: pointer;
}

.hiddenInputContainer {
  position: absolute;
  left: 0.3rem;
  top: 0.3rem;

  &:has(.hiddenInput:focus-visible) {
    outline: 3px solid var(--highlight);
  }
}

.hiddenInput {
  position: absolute;
  opacity: 0;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.filled {
  fill: var(--foreground);
  stroke: var(--foreground);
}

.highlighted {
  fill: var(--highlight);
  stroke: var(--highlight);
}

.circle {
  stroke: var(--foreground);
  pointer-events: none;
}
