.container {
  display: flex;
  gap: 0.3rem;
  padding: 0.3rem;
  margin: -0.3rem;
  overflow: clip;
  position: relative;
  border: none;

  &:has(.toggleZero:focus-visible) {
    outline: 3px solid var(--highlight);
  }
}

.legend,
.toggleZeroContainer {
  position: absolute;
  top: -100%;
}

.wrap {
  flex-wrap: wrap;
}

.linked {
  .toggle:not(:last-child) {
    position: relative;

    &:after {
      content: ' ';
      position: absolute;
      width: 5px;
      height: 1px;
      top: 50%;
      right: -5px;
      background-color: var(--foreground);
    }
  }
}
