.container {
  margin-bottom: 1rem;
  position: relative;
  width: 100%;
}

.heading {
  background-color: var(--foreground);
  color: var(--background);
  font-family: var(--font-display);
  font-size: 1.2rem;
  text-transform: uppercase;
  padding: 0 0.3rem;
  margin-bottom: 0.5rem;
}
